@font-face {
  font-family: blackwoodCastle;
  src: url("../assets/font/blackwoodCastle.ttf");
}

form.signup,
form.login {
  margin-top: 50px;
}

body {
  font-family: blackwoodCastle;
  color: black;
  text-shadow: 2px 2px silver;

  
}

h1 {
  text-align: center;
  color: black;
  font-size: 750%;
  text-shadow: 2px 2px silver;

}

label {
  font-size: 300%;
}

#loginMain {
  background-image: url("../assets/img/wall.jpg");
  align-content: center;
  background-size: 100%;
}
 #loginForm {
   background-image: url("../assets/img/sign.png");
   background-size: 100% 100%;
   background-repeat: no-repeat;
   align-content: center;
 }
 #buttons {
  text-align: center; 
 }
 #button1 {
   color: green;
   text-shadow: 2px 2px black;
   font-size: 36px;
   
 }
 #button2 {
   color: gold;
   text-shadow: 2px 2px black;
   font-size: 36px;
   text-align: center;

  }
 #email-input {
  background: transparent;
  border: none;
  font-size: 200%;
  text-shadow: 2px 2px black;


 }
 #password-input {
  background: transparent;
  border: none;
  font-size: 200%;
  text-shadow: 2px 2px black;


 }
