@font-face {
  font-family: blackwoodCastle;
  src: url("../assets/font/blackwoodCastle.ttf");
}

form.signup,
form.login {
  margin-top: 50px;
}

body {
  font-family: blackwoodCastle;
  color: blue;
  text-shadow: 2px 2px gold ;

}

h1 {
  text-align: center;
  color: blue;
  text-shadow: 2px 2px gold;
  font-size: 350%;
}
#email-input {
  background: transparent;
  border: none;
  /* text-shadow: 2px 2px blue; */
  color: black;
  font-size: 200%;
}
#password-input {
  background: transparent;
  border: none;
  /* text-shadow: 2px 2px blue; */
  color: black;
  font-size: 200%;
}

::placeholder { 
  color: gold;
  opacity: 1; 
}


label {
  font-size: 300%;
}

#loginMain {
  background-image: url("../assets/img/wall.jpg");
  align-content: center;
  background-size: 100%;
}
 #loginForm {
   background-image: url("../assets/img/stone2.png");
   background-size: 100% 100%;
   background-repeat: no-repeat;
   align-content: center;
 }

 #buttonA {
   font-size: 36px;
   color: green;
   text-shadow: 2px 2px black;
   text-align: center;
    }